body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f7f7f7;
}

/* Navbar */
.navbar {
  background: #222;
  padding: 15px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/* Home */
.home {
  text-align: center;
  padding: 80px 20px;
}

.start-btn {
  padding: 12px 25px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
}

/* Forms */
.form-container {
  max-width: 350px;
  margin: 50px auto;
  padding: 20px;
  background: white;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
}

.form input {
  width: 100%;
  margin: 10px 0;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #888;
}

.btn {
  width: 100%;
  padding: 12px;
  background: #222;
  color: white;
  cursor: pointer;
  border: none;
}

/* Footer */
.footer {
  text-align: center;
  margin-top: 40px;
  padding: 20px;
  background: #222;
  color: white;
}
